* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%) ;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

main {
  margin: 50px ;
  display: flex;
  align-items: center;
}


main h1 {
  color: #ffffff;
  margin-bottom:20px ;
  font-size: 30px;
  margin-top: 10px;
}

main p {
  color: #ffffff;
  font-size: 16px;
  margin-top: 10px;
}

.btn {
  background-color: hsl(248, 32%, 49%);
  padding: 15px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  width: 100%;
}

div .btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

#form {
  background-color: #ffffff;
  padding: 20px;
  width: fit-content;
  border-radius: 10px;
}

#form input {
  padding: 15px;
  margin: 10px;
  width: 25vw;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
}

form p {
  color: gray;
  font-size: 8px;
  margin-left: 40px;
}

strong {
  color:hsl(0, 100%, 74%)
}

 #submit {
  padding: 20px;
  background-color: hsl(154, 59%, 51%);
  border-radius: 5px;
  border-color:  hsl(154, 59%, 51%);
  color: #ffffff;
  font-weight: bold;
  width: 25vw;
  cursor: pointer;
  margin-left: 15px;
}  


@media screen and (max-width: 375px) {

  body {
    background-image: url(images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
  }

  main {
    margin: 10px ;
    align-items: center;
    flex-direction: column;
  }
  

  main h1 {
    color: #ffffff;
    margin-bottom:10px ;
    font-size: 20px;
  }

  main p {
    color: #ffffff;
    font-size: 12px;
    margin-right: 10px;
  }
  
  .btn {
    background-color: hsl(248, 32%, 49%);
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    width: 100%;
  }

  form p {
    color: gray;
    font-size: 8px;
    margin-left: 20px;
  }

  .btn {
    background-color: hsl(248, 32%, 49%);
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    width: 100%;
  }

  #form {
    background-color: #ffffff;
    padding: 15px;
    width: fit-content;
    border-radius: 10px;
  }

  #form input {
    padding: 15px;
    margin: 10px;
    width: 50vw;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
  }

  #submit {
    padding: 10px;
    background-color: hsl(154, 59%, 51%);
    border-radius: 5px;
    color: #ffffff;
    font-weight: 100;
    cursor: pointer;
    box-sizing: border-box;
    box-sizing: content-box;
    width: 50vw;
    margin-left: 15px;
  } 
}
  

